h1 {
   text-align: center;
   color: red;}
   h2{
   color: red;}
   
   * { box-sizing: border-box; }
body
  {background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg");}


h1 {text-align: center;}
h2 {
margin-top: 10em;
}




#menu {
  grid-column: 1 / 6;
  grid-row: 1;
  background-color: #008ff8;
    height: 54px;
    width: 100%;
border: none;
  position: fixed;
    z-index: 1;

}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
  position: relative;


}

.item {
  position: relative;
  float: left;
  border:  solid black;
  padding: 15px 28px;
  background-color: red;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
  width: 8em;
  text-align: center;

}

.subitem { border:  solid red; }


.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: 128px;
  background-color: red;
  border:  solid black;
  z-index: -1;

}
#cards {
  grid-column: 1 / 6;
  grid-row: 3;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  background-image: url("https://cdn.dribbble.com/users/1619804/screenshots/4490871/plane-loop.gif");
  width: 100%;
  z-index: 1;
  
}

.card {
  text-align: center;
  margin: 1em 1em;
  background-image: url("https://http2.mlstatic.com/kate-7x5-blanco-ladrillo-pared-fondo-fotografia-fondo-pano-D_NQ_NP_769991-MLA28734714618_112018-F.jpg");
  padding: 1em;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #00ff00;
   
}

.card > a {
  background-color: #0083dd;
  border: none;



}










.large {
  width: 64em;
  height:35em;
  border: 20px solid orange;
 border-radius: 1em;
 
}



body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




.box {
  border: thin solid;
  text-align: center;
  border-radius: 0.6em;
  margin-bottom: 1em;
}

.header-box {
  border-bottom: thin solid;
  padding: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-weight: bold;
}

.body-box {
  padding: 0.5em;
}

.body-box-image {
  font-size: 3em;
}

.orange-box {
  color: orange;
}

.orange-box > .header-box {
  background-color: rgb(255, 196, 94);
}

.blue-box {
  color: blue;
}

.blue-box > .header-box {
  background-color: #aaebf2;
}

.red-box {
  color: red;
}

.red-box > .header-box {
  background-color: #f2aaaa;
}
